<div class="container">
    <h1>Ingresos detalles</h1>
    <ul class="timeline horizontal">
        <li>
            <span class="material-symbols-outlined done">check_circle</span>
            <details class="panel">
                <summary>The Miracle of Birth</summary>
                <p><strong>Patient:</strong> Is it a boy or a girl?<br><br>
                    <strong>Obstetrician:</strong> Now, I think it's a little early to start imposing roles on it, don't
                    you? Now, a word of advice. You may find that you suffer for some time a totally irrational feeling
                    of depression. PND is what we doctors call it. So it's lots of happy pills for you, and you can find
                    out all about the birth when you get home. It's available on Betamax, VHS, and Super 8.
                </p>
            </details>
        </li>

        <li>
            <span class="material-symbols-outlined working">build</span>
            <details class="panel">
                <summary>Fighting Each Other</summary>
                <p>Here is better than home, eh, sir? I mean, at home if you kill someone they arrest you — here they'll
                    give you a gun and show you what to do, sir. I mean, I killed fifteen of those buggers. Now, at home
                    they'd hang me — here they'll give me a fucking medal, sir!</p>
            </details>
        </li>

        <li>
            <span class="material-symbols-outlined">location_city</span>
            <details class="panel">
                <summary>Middle Age</summary>
                <p>It's real Hawaiian food served in an authentic medieval English dungeon atmosphere.</p>
            </details>
        </li>

        <li>
            <span class="material-symbols-outlined">help</span>
            <details class="panel">
                <summary>The Meaning of Life</summary>
                <p>That’s right, yeah. I’ve had a team working on this over the past few weeks, and what we’ve come up
                    with can be reduced to two fundamental concepts. One, people are not wearing enough hats. Two,
                    matter is energy. In the Universe there are many energy fields which we cannot normally perceive.
                    Some energies have a spiritual source which act upon a person’s soul. However, this soul does not
                    exist ab initio as orthodox Christianity teaches; it has to be brought into existence by a process
                    of guided self-observation. However, this is rarely achieved owing to man’s unique ability to be
                    distracted from spiritual matters by everyday trivia.</p>
            </details>
        </li>
    </ul>
</div>