nav.top-nav {
    height: 110px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    background-color: transparent;
    color: black;
}


.imgIcon {
    margin-top: -45px; /* Ajusta este valor según sea necesario para elevar la imagen */
    width: 65px; height: 70px;
  }
  .header{
    margin-top: 45px;
  }