<div class="container">
  <h4 class="header">{{name_form}}</h4>
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <form [formGroup]="formularioForm">
          <div class="row">

            <div class="d-flex justify-content-center" *ngIf="isSuccessAlert">
              <div id="toast-success" class="toast align-items-center border-0 mb-5 fade show shadow-sm" role="alert"
                aria-live="assertive" aria-atomic="true" style="background-color: #28a745;">
                <div class="d-flex">
                  <div class="toast-body d-flex align-items-center text-white">
                    <div class="rounded-circle d-flex align-items-center justify-content-center"
                      style="width: 32px; height: 32px; background-color: rgba(255, 255, 255, 0.3);">
                      <span class="material-symbols-outlined fs-1">
                        done_all
                      </span>
                    </div>
                    <div class="ms-4">Transacción exitosa.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center" *ngIf="isErrorAlert">
              <div id="toast-error" class="toast align-items-center border-0 mb-5 fade show shadow-sm" role="alert"
                aria-live="assertive" aria-atomic="true" style="background-color: #dc3545;">
                <div class="d-flex">
                  <div class="toast-body d-flex align-items-center text-white">
                    <div class="rounded-circle d-flex align-items-center justify-content-center"
                      style="width: 32px; height: 32px; background-color: rgba(255, 255, 255, 0.3);">
                      <span class="material-symbols-outlined fs-1">
                        error
                      </span>
                    </div>
                    <div class="ms-4">{{messageError}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Loop para generar los inputs dinámicamente -->
            <ng-container *ngFor="let input of inputs">
              <!-- Aplicar clases condicionalmente -->
              <div [ngClass]="input.visible === '1' ? input.size : ' hide'">
                <!-- Datetime formulario -->
                <div *ngIf="input.type === 'datetime'" class="input-field">
                  <i class="material-symbols-outlined prefix">{{ input.icon }}</i>
                  <input type="text" class="datetimepicker" [id]="input.id" #datetimePicker
                    formControlName="{{ input.tag }}">
                  <label for="{{ input.id }}">{{ input.label }}</label>

                  <!-- Helper text for error messages -->
                  <span
                    *ngIf="formularioForm.get(input.tag)?.invalid && (formularioForm.get(input.tag)?.dirty || formularioForm.get(input.tag)?.touched)"
                    class="helper-text red-text">
                    {{ input.label }} no válida, no se permiten caracteres especiales o simbolos
                  </span>
                </div>


                <!-- Input text formulario -->
                <div *ngIf="input.type === 'text'" class="input-field">
                  <i class="material-symbols-outlined prefix">{{ input.icon }}</i>
                  <input [id]="input.id" type="{{ input.type }}" class="validate" [formControlName]="input.tag"
                    [required]="input.required" [pattern]="input.pattern" [(ngModel)]="input.value_default"
                    autocomplete="off">
                  <label [for]="input.id">{{ input.label }}</label>

                  <!-- Helper text for error messages -->
                  <span
                    *ngIf="formularioForm.get(input.tag)?.invalid && (formularioForm.get(input.tag)?.dirty || formularioForm.get(input.tag)?.touched)"
                    class="helper-text red-text">
                    {{ input.label }} no válido, no se permiten caracteres especiales o simbolos
                  </span>
                </div>


                <!-- Select del formulario -->
                <div *ngIf="input.type === 'select'" class="input-field">
                  <select [id]="input.id" (change)="action_id_client()" [attr.disabled]="input.disabled ? true : null"
                    [formControlName]="input.tag" class="validate">
                    <option value="" disabled selected>Seleccione {{ input.label }}</option>
                    <option *ngFor="let option of input.options_view_kimbo" [value]="option.valueOption">
                      {{ option.textValue }}
                    </option>
                  </select>
                  <label [for]="input.id">{{ input.label }}</label>

                  <!-- Helper text for error messages -->
                  <span
                    *ngIf="formularioForm.get(input.tag)?.invalid && (formularioForm.get(input.tag)?.dirty || formularioForm.get(input.tag)?.touched)"
                    class="helper-text red-text">
                    {{ input.label }} no válido, no se permiten caracteres especiales o simbolos
                  </span>
                </div>

                <!-- TextArea del formulario -->
                <div *ngIf="input.type === 'text_area'" class="input-field">
                  <i class="material-symbols-outlined prefix">{{ input.icon }}</i>
                  <textarea [id]="input.id" class="materialize-textarea" [formControlName]="input.tag"
                    autocomplete="off"></textarea>
                  <label for="{{ input.id }}">{{ input.label }}</label>

                  <!-- Helper text for error messages -->
                  <span
                    *ngIf="formularioForm.get(input.tag)?.invalid && (formularioForm.get(input.tag)?.dirty || formularioForm.get(input.tag)?.touched)"
                    class="helper-text red-text">
                    {{ input.label }} no válido, no se permiten caracteres especiales o simbolos
                  </span>
                </div>

              </div>
            </ng-container>
          </div>

<!-- Zona para adjuntar imágenes o PDFs -->
<div class="row">
  <div class="col s12">
    <div class="file-field input-field">
      <div class="btn">
        <span>Adjuntar Archivos</span>
        <input type="file" (change)="onFileSelected($event)" accept="image/*,application/pdf" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Seleccione hasta 15 archivos">
      </div>
    </div>
  </div>
</div>

<!-- Previsualización de archivos -->
<div class="row">
  <div class="col s12">
    <div *ngFor="let file of selectedFiles" class="preview-item">
      <img *ngIf="file.type.startsWith('image/')" [src]="file.url" alt="Previsualización de imagen" class="thumbnail">
      <div *ngIf="file.type === 'application/pdf'" class="pdf-preview">
        <i class="material-symbols-outlined text-danger fs-2 me-3">picture_as_pdf</i>
        <p>{{ file.name }}</p>
      </div>
    </div>
  </div>
</div>



        </form>
      </div>

      <div class="card-action center-align">
        <button class="btn waves-effect waves-light" type="submit" (click)="aplicarNewIng()" name="action">Guardar
          Transacción
          <i class="material-symbols-outlined right">send</i>
        </button>
      </div>
      <div *ngIf="isLoading"
        class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-light bg-opacity-75 custom-overlay">
        <div class="text-center">
          <app-hear-loading></app-hear-loading>
          <app-three-js-animation></app-three-js-animation>
        </div>
      </div>


    </div>
  </div>
</div>