.card-content {
    position: relative;
    /* Necesario para que el botón se posicione correctamente */
    cursor: pointer;
    /* Cambia el cursor a una mano al pasar por encima */
}

.card-icon.card-super-menu {
    background-color: #e91e63;
    /* Fondo rojo */
    color: white;
    /* Color del icono dentro del div */
    width: 25%;
    /* Ancho del 25% del contenedor padre */
    height: 50%;
    /* Altura ajustada */
    padding: 10px;
    /* Espacio alrededor del icono dentro del div */
    box-sizing: border-box;
    /* Incluye padding en el cálculo del ancho total */
    position: absolute;
    /* Posiciona el div de manera absoluta respecto al contenedor padre */
    top: -20px;
    /* Alinea el div para que quede parcialmente fuera del contenedor en la parte superior */
    left: 15px;
    /* Alinea el div con la parte izquierda del contenedor padre */
    border-radius: 5%;
    /* Borde redondeado */
}

.btn-action-menu {
    border-radius: 50%;
    /* Hace que el botón sea redondo */
    width: 44px;
    /* Ancho del botón */
    height: 44px;
    /* Altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* Asegura que el contenido esté centrado */
    background-color: #007bff;
    /* Color de fondo */
    color: white;
    /* Color del icono */
    text-decoration: none;
    /* Elimina el subrayado */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* Transición suave */
    position: absolute;
    /* Posiciona el botón dentro del contenedor */
    right: 16px;
    /* Espacio desde el borde derecho */
    top: 50%;
    /* Centro vertical */
    transform: translateY(-50%);
    /* Ajuste para centrar completamente */
}

.btn-action-menu i.material-icons {
    font-size: 24px;
    /* Tamaño del icono */
}

.btn-action-menu:hover {
    background-color: #0056b3;
    /* Cambio de color al hacer mouseover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra al hacer mouseover */
}

.card-menu {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    /* Transición suave para el movimiento */
}

.card-menu:hover {
    transform: translateY(-10px);
    /* Mueve el div hacia arriba cuando el mouse está encima */
}

.card-menu {
    transform: translateY(0);
    /* Regresa a su posición original cuando el mouse sale */
}

.mt-custom {
    margin-top: 30px;
}

.icon-menu {
    font-family: 'Material Icons';
    /* Asegúrate de tener la fuente Material Icons cargada */
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    /* Doble del tamaño original, ajusta según sea necesario */
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    display: flex;
    /* Centrar el icono en su contenedor */
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ajusta según sea necesario */
    height: 100%;
    /* Ajusta según sea necesario */
}


.menu-card {
    transition: transform 0.3s ease-in-out; /* Transición suave para el movimiento */
}

.menu-card:hover {
    transform: translateY(-10px); /* Mueve el div hacia arriba cuando se pasa el mouse */
}


  